compare/config.php
scripts/drupal/compile-errors.log
scripts/drupal/compile.log
scripts/drupal/drupal/config.json
scripts/drupal/ext/*
scripts/drupal/ext/*/*
scripts/drupal/ext/*/*/*
scripts/drupal/.temp/*
scripts/drupal/.temp/*/*
scripts/drupal/.temp/*/*/*
scripts/drupal/ext/.libs/*
scrtips/drupal/ext/.libs/*/*
!drupal/ext/kernel/*

